{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>SIGNIN</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/sketchy/bootstrap.css">
	<style>
		body{background-image: url("https://images.pexels.com/photos/207983/pexels-photo-207983.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
			 background-repeat: no-repeat;
			 background-size: cover;
			 background-position: center;
			}
	</style>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			
		
  <a class="navbar-brand" href="#"><b>MOODBOARD</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav ml-auto" id="navbarNav">
  	<a href="/signin/" class="btn btn-danger" style="margin-right:10px">SIGNIN</a>
  	<a href="/signup/" class="btn btn-danger">SIGNUP</a>
    <ul class="navbar-nav ml-auto">
  
    </ul>
  </div>
</div>
</nav>
<br>
{% block body %}
{% endblock %}

</body>
</html>